// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
nav {
    border-bottom: 1px solid lightgray;
}
.action-button {
    min-width: 70px;
}

.admin-menu{
    background: lightgray;
    border: 1px solid darkgray;
    box-shadow: 0px 0px 1px darkgrey;
}

.admin-menu-item {
    font-size: 16pt;
    border-bottom: 1px solid darkgray;
    text-align: center;
}

.admin-menu-item a{
    color: #404040;
    font-size: 16pt;
    &:hover{
        color: #000000;
        text-decoration: none;
        transition: 0.4s;
    }
}
.inner {
    border: 2px solid lightgray;
    box-shadow: 0px 0px 5px darkgrey;
}
